.text-right{
  text-align: right;
}
.now{
    font-size: 80%;
    opacity: 0.7;
}
.card-body{
	padding: 0.7em;
}
main, footer {
  padding-left: 220px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.sidenav {
    width: 220px;
}

/********************
  TEAMC-8
 ********************/
.fixed-tweet-btn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 997;
}
.btn-tweet {
  border-radius: 0 0 0 2px;
}
.btn-tweet i {
  background: #fff;
  color: #222;
}
