.textMain{
  word-break: break-all;
}
.text-right{
  text-align: right;
}
.now{
    font-size: 80%;
    opacity: 0.7;
}
.card-body{
	padding: 0.7em;
}
main, footer {
  padding-left: 220px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width : 992px) {
  .sidenav-btn {
    display: none;
  }
}

.sidenav {
    width: 220px;
}
.original-btn{
  margin-bottom: 0;
}
.original-btn1{
  padding: 0 10px;
}
.original-btn2{
  padding: 0 10px;
}
.original-btn3{
  padding: 0 10px;
}

/********************
  TEAMC-8
********************/
.fixed-tweet-btn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 997;
}
.btn-tweet {
  border-radius: 0 0 0 2px;
}
.btn-tweet i {
  background: #fff;
  color: #222;
}

/********************
  TEAMC-9
********************/
.timeline-card {
  margin-left: 70px;
}
.timeline-user-icon {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 56px;
  position: absolute;
  top: 0;
  left: -70px;
  width: 56px;
}
.timeline-title {
  overflow: hidden;
  white-space: nowrap;
}
.timeline-user-name {
  font-weight: bold;
}
.timeline-user-id {
  font-weight: normal;
  margin-left: 1rem;
  opacity: .7;
}

/********************
  TEAMC-5
********************/
.sidenav li:first-child > a {
   height: auto;
   padding-bottom: 48px;
   padding-top: 48px;
}
.side-user-icon {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  height: 96px;
  width: 96px;
}
.side-user-name {
  font-weight: bold;
  line-height: 1.5;
  padding: 13.5px 0;
  text-align: center;
}

/********************
  TEAMC-31
********************/
.mypage-user-icon {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  height: 192px;
  width: 192px;
}
.mypage-file-field input[type=file] {
  border-radius: inherit;
  height: inherit;
  left: auto;
  right: auto;
  width: inherit;
}
.input-type-radio {
  display: inline-block;
  line-height: 3rem;
  margin-right: 1rem;
}

/**********************************
ログアウト
***********************************/
div.wrapper {
  position: relative;
 }
 #signout{
  width: 100%;
   position: fixed;
   bottom: 10vh;
 }